:root {
    --main-color: #1e88e5;
    --main-color-light: rgb(185, 185, 185);
    --grey-color: #b6b6b6;
}


/* --------------- COMMON STYLE   ------------------------------------   */

body {
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-family: sans-serif;
    box-sizing: border-box;
}

button {
    margin: 0.25rem;
    padding: 0.75rem 1.5rem;
    font-family: inherit;
    background-color: var(--main-color);
    border: 0px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover,
button:active {
    background-color: var(--grey-color);
}

.button {
    display: inline-block;
    text-align: center;
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
}

.button:hover {
    border: 1px solid rgb(15, 15, 15);
    background-color: rgb(233, 233, 233);
}


/* --------------- WELCOME VIEW    --------------------- ---------------   */

#welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95vw;
    height: 100vh;
}


/* --------------- PLAY VIEW    --------------------- ---------------   */

#play-view {
    background-color: var(--main-color-light);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 88vh;
}

#start {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    font-size: 300%;
    cursor: pointer;
}

#quiz {
    width: 50%;
    max-width: 80%;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
}

#score {
    display: flex;
    justify-content: center;
    align-items: center;
}

#question {
    display: flex;
    justify-content: center;
    align-items: center;
}

#choices {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
    justify-content: center;
    align-items: center;
}


/* --------------- EDIT VIEW STYLE   ---------------   */

#questions-view {
    background-color: var(--main-color-light);
    width: 100%;
}

#edit-buttons {
    display: flex;
    justify-content: flex-end;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid var(--main-color-light);
    background-color: white;
    border-radius: 15px;
}

.question-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.title {
    padding: 20px;
}

.actions {
    width: 10%;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    cursor: pointer;
}

.actions img {
    width: 30%;
}

.answers {
    width: 100%;
    display: grid;
    width: 90%;
    grid-template-columns: 1fr 1fr;
}

.answerDisplay {
    background-color: #f00;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    color: #fff;
    width: 85%;
}


/* ----------------------------- DIALOG   --------------------------   */

#questions-dialog {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 10;
}

dialog {
    position: fixed;
    top: 10vh;
    left: 20%;
    width: 60%;
    z-index: 100;
    border-radius: 12px;
    border: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    padding: 0;
    margin: 0;
    overflow: hidden;
}

dialog header {
    background-color: var(--main-color);
    color: white;
    font-size: 1.25rem;
    width: 100%;
    padding: 1rem;
}

dialog section {
    padding: 1rem;
}

dialog menu {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    margin: 0;
}

dialog label {
    font-weight: bold;
    display: block;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.form-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.answer {
    width: 78%;
}

input {
    display: block;
    font-size: 1.1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 3px;
}

input:focus {
    background-color: #f0e6fd;
    outline: none;
    border-color: var(--main-color-light);
}

/* ----------------------------- MENU --------------------------   */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.61);
    position: sticky;
    top: 0;
}

ul img {
    margin-left: 30px;
}

ul>h2 {
    margin-left: 30px;
}

nav img {
    width: 37px;
    height: 37px;
    cursor: pointer;
}

ul {
    display: flex;
    margin-top: 1%;
    margin-right: 3%;
    margin-bottom: 1%;
}

ul li {
    list-style: none;
    margin-left: 5px;
    cursor: pointer;
}

ul li a {
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

ul li a:hover {
    background-color: var(--main-color-light);
    border: none;
}

.active {
    background-color: var(--main-color);
    color: white;
}

ul h2 {
    margin-top: 5px;
}

#all-progress {
    margin: auto;
    width: 80%;
    height: 10px;
    border: 1px solid black;
    border-radius: 9px;
}

#progress {
    height: 10px;
    background-color: #750579;
    border-radius: 9px;
}

.form-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.as {
    width: 90%;
}